 footer {
     background: linear-gradient(135deg, #1e1e2f, #27293d);
     color: #fff;
     padding: 40px 20px;
     position: relative;
     box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.3);
     overflow: hidden;
 }

 .footer-container {
     display: flex;
     justify-content: space-between;
     max-width: 1200px;
     margin: 0 auto;
     padding: 0 20px;
 }

 .footer-column {
     flex: 1;
     margin: 0 10px;
 }

 .footer-column h3 {
     font-size: 18px;
     margin-bottom: 15px;
     position: relative;
     color: #34eae4;
     text-transform: uppercase;
 }

 .footer-column h3::after {
     content: '';
     display: block;
     width: 50px;
     height: 2px;
     background-color: #34eae4;
     margin-top: 5px;
 }

 .footer-column ul {
     list-style: none;
     padding: 0;
 }

 .footer-column ul li {
     margin-bottom: 10px;
 }

 .footer-column ul li a {
     color: #b3b3b3;
     text-decoration: none;
     font-size: 14px;
     transition: color 0.3s ease, transform 0.3s ease;
 }

 .footer-column ul li a:hover {
     color: #34eae4;
     transform: scale(1.1);
 }

 .footer-bottom {
     text-align: center;
     margin-top: 20px;
     font-size: 14px;
     color: #b3b3b3;
     border-top: 1px solid rgba(255, 255, 255, 0.1);
     padding-top: 10px;
 }

 .container {
     display: flex;
     justify-content: center;
     /* Align horizontally */
     align-items: center;
     /* Align vertically */
     height: 60px;
     /* Set height for the container */
     position: relative;
 }

 .image-logo {
     max-width: 100%;
     height: auto;
     margin: 0 10px;
 }

 /* Scroll-to-Top Button */
 #scrollToTop {
     position: fixed;
     bottom: 20px;
     right: 20px;
     background: #34eae4;
     border: none;
     color: #27293d;
     font-size: 16px;
     width: 40px;
     height: 40px;
     border-radius: 50%;
     cursor: pointer;
     box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
     transition: all 0.3s ease;
     display: none;
 }

 #scrollToTop:hover {
     background: #34eae4;
     transform: translateY(-5px);
 }

 /* Responsive Design */
 @media (max-width: 768px) {
     .footer-container {
         flex-direction: column;
         align-items: center;
     }

     .footer-column {
         margin-bottom: 20px;
         text-align: center;
     }
 }